<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<a th:href="@{/user}">
    <input type="submit" value="Profile"/>
</a>

<br/>

<a th:href="@{/reg/registration}">
    <input type="submit" value="Registration"/>
</a>


<a th:href="@{/logout}">
    <input type="submit" value="Logout"/>
</a>

</body>
</html>