<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User by Id</title>
</head>
<body>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit"/>
</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">

<input type="submit" value="Delete"/>

</form>

<a th:href="@{/admin}">
    <input type="submit" value="Cancel">
</a>

<a th:href="@{/logout}">
    <input type="submit" value="Logout"/>
</a>

</body>
</html>