<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<p>Информация о пользователе</p>


<table>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
    </tr>
    <tr th:each="userInfo : ${user}">

        <th th:utext="${userInfo.getId()}"></th>
        <th th:utext="${userInfo.getUsername()}"></th>
        <th th:utext="${userInfo.getLastName()}"></th>
        <th th:utext="${userInfo.getEmail()}"></th>

    </tr>
</table>


<a th:href="@{/logout}">
    <input type="submit" value="Logout"/>
</a>


</body>
</html>